/* navbar design which is in banner */ 
#nav-design{
    margin-right: 50px;
    color: black;   
}

/*slider design in banner*/ 
.slider-design img{
    height: 400px;
    width: 90%;
    margin-left: 70px;  
}
/*card style*/ 
#cardStyle{
    width: 23rem;
    float: left;
    margin: 30px;
    height: 26rem;
    box-shadow: 5px 5px 8px gray;
    text-align: center;
}

#cardStyle img{
    height: 300px;
}

/* service center */
#serviceCenter{
    background-color: aquamarine;
}

/*testimonial*/
#testimonial-users{
    border: 1px solid rgb(28, 88, 88);
    border-radius: 40px;
    width: 300px;
    float: left;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: rgb(148, 177, 177);
    margin-top: 20px;

}
#testimonial-users img{
    height: 150px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 70px;
    margin-bottom: 20px;
}
